.head {
  position: relative;
  height: 60px;
  background: rgb(0, 28, 104);
  background: linear-gradient(
    to right,
    rgba(0, 28, 104, 1) 0%,
    rgba(72, 112, 182, 1) 100%
  );
  border-bottom: #ffd700 4px solid;
  box-sizing: content-box;
  min-width: 100%;

  .profile,
  .shopping,
  .desktop {
    display: none;
  }

  .stickyBar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: hsla(42, 100%, 64%, 1);
    opacity: 0;
    transition: 0.2s all linear;
    &.lists-stickyBar {
      padding: 4px 0;
      height: 29px;
      font-size: 15px;
      font-weight: 700;
      bottom: -32px;
    }
    &.article-stickyBar {
      padding: 18.5px 0;
      height: 72px;
      font-size: 28px;
      font-weight: 500;
      bottom: -75px;
      opacity: 1;
      &.thin {
        padding: 8px 0;
        height: 36px;
        font-size: 18px;
        bottom: -40px;
      }
    }
    img {
      height: 100%;
      width: auto;
    }
    @media screen and (max-width: 980px) {
      &.lists-stickyBar {
        bottom: -28px;
      }
      &.article-stickyBar {
        padding: 12px 0;
        height: 49px;
        font-size: 18px;
        bottom: -49px;
        &.thin {
          bottom: -36px;
        }
      }
    }
    &.show {
      opacity: 1;
    }
  }

  .logo {
    float: left;
    display: inline-block;
    width: 231px;
    height: 60px;
    background: url('../public/asset/image/logo.svg') no-repeat;
    text-indent: -9999em;
  }

  .nav {
    float: right;
    z-index: 2;
    margin-top: 26px;
    position: relative;

    > ul {
      background-color: rgb(225, 225, 225);
      border-radius: 2px 2px 0px 0px;
      list-style: none;
      margin: 0;
      padding: 0 8px;
      width: 100%;

      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
        height: 0;
      }

      > li {
        float: left;
        margin: 0px 5px;

        a {
          display: inline-block;
          font-size: 13px;
          line-height: 35px;
          color: #000;
          text-decoration: none;
          z-index: 1;
          position: relative;

          &:hover {
            color: #000;
          }

          &.active {
            color: #202020;
          }

          &.active:after,
          &:hover:after {
            content: '';
            position: absolute;
            display: block;
            background-color: #ffd700;
            width: 100%;
            height: 32px;
            top: 3px;
            left: -4px;
            padding: 0px 4px;
            border-radius: 4px 4px 0px 0px;
            z-index: -1;
            box-sizing: content-box;
          }
        }

        @media (min-width: 320px) and (max-width: 768px) {
          &.nav_home a {
            &.active:after,
            &:hover:after {
              padding: 0;
              left: 0;
            }
          }
        }
      }
    }
  }

  .topmenu {
    color: white;
    font-size: $size-7;
    line-height: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16px;
    position: absolute;
    top: -20px;

    a {
      color: white;
    }

    .usite {
      a {
        display: inline-block;
        padding: 0 8px;
        position: relative;

        &:first-child {
          padding-left: 0;
        }

        &:after {
          content: '';
          position: absolute;
          top: 10%;
          right: 0;
          background: white;
          width: 1px;
          height: 80%;
        }

        &:last-child:after {
          content: none;
        }
      }
    }

    .social-link {
      font-size: 16px;

      li {
        margin-left: 4px;
      }

      .icon-line {
        font-size: 14px;
      }
    }

    @media (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 320px) and (max-width: 980px) {
    height: 95px;
    width: 100% !important;
    border: none;
    position: relative;
    z-index: 51;

    > .wrap {
      border: none;
      height: auto;
      width: 100%;

      .span2,
      .span10 {
        float: none;
        width: 100%;
      }

      .span2 {
        height: 50px;
      }
    }

    .hidden-text {
      display: none;
    }

    .topmenu {
      display: none;
    }

    .logo {
      width: 90px;
      height: 25px;
      position: absolute;
      top: 12px;
      left: 52px;
      text-indent: -9999px;
      background: url('../public/asset/image/logo@2x.png') no-repeat;
      background-size: 90px 25px;
    }

    // .search {
    //   width: 0;
    //   height: 30px;
    //   position: absolute;
    //   top: 12px;
    //   right: 78px;
    //   cursor: pointer;

    //   .search_open {
    //     width: 32px;
    //     height: 32px;
    //     background: url('../images/btn_search@2x.png') center 2px no-repeat;
    //     background-size: 24px 24px;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //   }
    // }

    .profile,
    .shopping,
    .desktop {
      width: 32px;
      position: absolute;
    }

    // .desktop {
    //   top: 20px;
    //   right: 15px;
    //   width: auto;

    //   a {
    //     display: block;
    //     background: url('../images/btn_desktop@2x.png') 0 0 no-repeat;
    //     background-size: 20px 15px;
    //     color: white;
    //     font-size: 12px;
    //     padding-left: 24px;
    //     height: 15px;
    //     line-height: 15px;
    //   }
    // }

    // .profile {
    //   top: 15px;
    //   right: 42px;

    //   a {
    //     background: url('../images/btn_profile@2x.png') no-repeat;
    //     background-size: 21px 21px;
    //   }

    //   &.user_photo {
    //     top: 13px;

    //     a {
    //       display: block;
    //       width: 26px;
    //       height: 26px;
    //       border-radius: 100%;
    //       background: none;
    //       text-indent: inherit;
    //       overflow: hidden;
    //     }

    //     img {
    //       width: 100%;
    //     }
    //   }
    // }

    .nav {
      background-color: #fff;
      width: 100%;
      border-bottom: 4px solid #ffd700;
      margin: 0;
      padding: 0;
      float: none;
      border-radius: 0;

      .inner {
        background-color: #fff;
        white-space: nowrap;
        display: flex;
        margin: 0 auto;
        overflow: hidden;

        li {
          display: block;
          flex: 1;
          height: 41px;
          line-height: 44px;
          text-align: center;
          text-decoration: none;
          position: relative;
          z-index: 1;
          margin: auto;

          a {
            font-size: 0.8rem;
            color: #000;

            &:focus,
            &:hover {
              color: #20b;
            }

            &.current {
              color: #4c4c4c !important;
              font-weight: 500;
            }

            span {
              color: #000;
            }

            &.active,
            &:hover {
              &:after {
                height: 36px;
                top: inherit;
                bottom: -1px;
              }
            }
          }

          &.nav_home {
            flex: 0.8;
            margin: 0;
            padding: 0;
            text-indent: -999em;
            position: relative;

            &:before {
              background: url('../public/asset/image/home_black@2x.png') center
                center no-repeat;
              background-size: 24px;
              content: '';
              width: 100%;
              height: 24px;
              display: block;
              position: absolute;
              top: 10px;
              //                            z-index: 2;
            }

            a {
              display: block;
              height: 100%;
            }
          }

          &.nav_desktop {
            display: none;
          }
        }
      }

      &.scroll-to-fixed-fixed,
      &.scroll-to-fixed-fixed .inner {
        background: #21428c;
      }

      &.scroll-to-fixed-fixed .inner {
        li {
          &.nav_home:before {
            background: url('../public/asset/image/home_black@2x.png') center
              center no-repeat;
            background-size: 24px;
          }

          &.nav_home.current:before {
            background: url('../public/asset/image/home_black@2x.png') center
              center no-repeat;
            background-size: 24px;
          }
        }

        a {
          color: #fff;

          span {
            color: white;
          }

          &.active {
            color: #202020;

            span {
              color: #202020;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .head > .wrap {
    height: 60px;
    background: rgb(0, 28, 104);
    background: linear-gradient(
      to right,
      rgba(0, 28, 104, 1) 0%,
      rgba(72, 112, 182, 1) 100%
    );
    border-bottom: #ffd700 4px solid;
    box-sizing: content-box;
  }
}

.mobile_area {
  display: inline-block;
  float: right;
  margin: 5px 0 0 10px;
  padding-right: 10px;
  border-right: 1px solid #e4d477;
  height: 28px;

  img {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 1100px) {
  .head {
    .hidden-text {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .switch-btn {
    color: $gray-light;
    font-size: 12px;
    display: block;
    line-height: 1;
    position: absolute;
    right: 12px;
    top: 18px;

    .icon-color-adjust {
      font-size: 1rem;
    }

    &.active {
      color: white;
    }
  }
}

// for mobile
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  background-color: #f5f5f5;
  z-index: 3000;
  display: block;

  .label_menu {
    font-size: 1rem;
    line-height: 1.8;
  }
}

.nav_switch {
  display: none;

  @media (min-width: 320px) and (max-width: 768px) {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 10px;
    top: 8px;

    .bn_menu {
      padding: 0.5em;
      border: none;
      text-indent: 2.8em;
      color: transparent;
      background: transparent;
      position: relative;
      cursor: pointer;
      width: 36px;
      height: 36px;
      z-index: 1;
    }

    .bn_menu span,
    .bn_menu::after,
    .bn_menu::before {
      background: #fff;
      content: '';
      display: block;
      width: 24px;
      height: 3px;
      position: absolute;
      left: 5px;
      transition: none 0.5s ease 0.5s;
      transition-property: transform, top, bottom, left, opacity,
        -webkit-transform;
    }

    .bn_menu span {
      top: 15px;
    }

    .bn_menu::before {
      top: 8px;
    }

    .bn_menu::after {
      top: 22px;
    }

    .bn_menu:hover {
      outline: none;
    }
  }
}
